@import url('./colaboradores.css');
@import url('./pesquisa.css');
@import url('./cadastro.css');
@import url('./modal.css');
.container__conteudo{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
